<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
<_locDefinition xmlns="urn:locstudio">
    <_locDefault _loc="locNone" />
    <_locTag _loc="locData">Title</_locTag>
    <_locTag _loc="locData">Description</_locTag>
    <_locTag _loc="locData">Author</_locTag>
    <_locTag _loc="locData">ToolTip</_locTag>
</_locDefinition>
	<CodeSnippet Format="1.0.0">
	<Header>
	<Title>Get a Journal Set With Description Containing</Title>
        <Shortcut></Shortcut>
	<Description>Retrive a header information for a journal set containing certain text in it's description.</Description>
	<Author>Jiwa Financials</Author>
	<SnippetTypes>
		<SnippetType>Expansion</SnippetType>
	</SnippetTypes>
	</Header>
	<Snippet>
		<Declarations>
			<Literal>
				<ID>DescriptionMatchText</ID>
				<ToolTip>Text to look for in the journal set description</ToolTip>
				<Default>100492</Default>
			</Literal>
		</Declarations>
		<Code Language="SQL">
			<![CDATA[SELECT * FROM GL_Sets WHERE Description LIKE '%$DescriptionMatchText$%']]>
		</Code>
	</Snippet>
	</CodeSnippet>
</CodeSnippets>

