<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
<_locDefinition xmlns="urn:locstudio">
    <_locDefault _loc="locNone" />
    <_locTag _loc="locData">Title</_locTag>
    <_locTag _loc="locData">Description</_locTag>
    <_locTag _loc="locData">Author</_locTag>
    <_locTag _loc="locData">ToolTip</_locTag>
</_locDefinition>
	<CodeSnippet Format="1.0.0">
	<Header>
	<Title>Get Database Version</Title>
        <Shortcut></Shortcut>
	<Description>Retrives the version information from system settings.</Description>
	<Author>Jiwa Financials</Author>
	<SnippetTypes>
		<SnippetType>Expansion</SnippetType>
	</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="SQL">
			<![CDATA[SELECT * 
FROM SY_SysValues 
WHERE SY_SysValues.IDKey LIKE '%Version%'
GO]]>
		</Code>
	</Snippet>
	</CodeSnippet>
</CodeSnippets>

