<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
<_locDefinition xmlns="urn:locstudio">
    <_locDefault _loc="locNone" />
    <_locTag _loc="locData">Title</_locTag>
    <_locTag _loc="locData">Description</_locTag>
    <_locTag _loc="locData">Author</_locTag>
    <_locTag _loc="locData">ToolTip</_locTag>
</_locDefinition>
	<CodeSnippet Format="1.0.0">
	<Header>
	<Title>Update Failed Upgrade Script to Succeeded</Title>
        <Shortcut></Shortcut>
	<Description>Updates the failed (status 2) upgrade script to succeeded (status 1).</Description>
	<Author>Jiwa Financials</Author>
	<SnippetTypes>
		<SnippetType>Expansion</SnippetType>
	</SnippetTypes>
	</Header>
	<Snippet>
		<Code Language="SQL">
			<![CDATA[UPDATE SY_UpgradeScripts SET Status = 1 WHERE SY_UpgradeScripts.Status = 2
GO]]>
		</Code>
	</Snippet>
	</CodeSnippet>
</CodeSnippets>

